.chatbot-container,
.trip-form {
  flex: 1;              
  max-width: 600px;   
}

.trip-form {
  width: 120%;              
  max-width: 500px;        
  padding: 20px;
  border: 2px solid #2d4238;
  border-radius: 30px;
  background: rgba(45, 66, 56, 0.678);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
}

.trip-form-fields {
  display: flex;
  flex-direction: column;
  gap: 1px; 
  
}

.trip-form-fields label {
  margin-bottom: 2px;      
  font-size: 0.85rem;
  font-weight: 500;
  color: #F6EEE8;  
  align-self: flex-start;
}

.trip-form-fields input,
.trip-form-fields textarea,
.trip-form-fields select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #263930fc;
  font-size: 14px;
  background-color: #4c6e5ecb;
  color: #F6EEE8;
}

.trip-form-fields input:focus,
.trip-form-fields textarea:focus,
.trip-form-fields select:focus {
  outline: none;
  border-color: #d7ab75;
  box-shadow: 0 0 0 2px #d7ab75;
  background-color: #334a3fcb;
}

.trip-form-fields {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.trip-form-title {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 2rem;
  margin-bottom: 15px;
  color: #333;
  color: #F6EEE8;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.trip-form-submit {
  background: #e6b474;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.7em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: bold;
  margin-top: 5px; 
}

